* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  height: 100vh;
  background: lightgray;
}
.todo_list {
  min-height: 400px;
  min-width: 400px;
  margin: auto;
  padding: 15px;
  border: 1px solid black;
}
input {
  width: 200px;
 }
span {
  font-weight: bold;
  color: red;
  cursor: pointer;
}
